@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600&family=Caveat:wght@400;500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=VT323&display=swap');

/*подключаем шрифты и пишем обнуляющие стили*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* задаем длинну шапки на весь экран и задаем ей цвет фона */
header{
    width:100%;
    padding:20px;
    background-color:#1ca9c9;
}

/* контейнер, ограничивает контент по длинне на 1200 пикселей и ставит его в центр страницы */
.container{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}

/* блок about хранит информаациию о нашей странице
задаем задний фон, размер блока, внутренние отсупы и отступ сверху на 40 пикселей
*/
.about{
    margin-top:40px;
    background:pink;
    max-width:400px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
}